<a href="https://colab.research.google.com/github/Adrian-Stahl/Project-4/blob/main/Credit_Card_Fraud_Detection_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
from pathlib import Path
import tensorflow as tf
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
#  Import and read the charity_data.csv.
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# access csv
file_path = '/content/drive/MyDrive/Bootcamp/transactions_train.csv'

In [5]:
initial_df = pd.read_csv(file_path)

In [6]:
initial_df.head()

,step,type,amount,nameOrig,oldbalanceOrig,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [7]:
#Dropping the non-beneficial step column, 'step'
beta_df = initial_df.drop(columns = ['step'])

#optional route #1 - Dropping all columns that have alphabetic values. 
gamma_df = beta_df.drop(columns = ['type', 'nameOrig', 'nameDest'])

In [8]:
#displaying the dataset with the dropped column
gamma_df

#beta_df['type'] = beta_df['type'].astype(float)

,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,9839.64,170136.00,160296.36,0.00,0.00,0
1,1864.28,21249.00,19384.72,0.00,0.00,0
2,181.00,181.00,0.00,0.00,0.00,1
3,181.00,181.00,0.00,21182.00,0.00,1
4,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...
6351188,162326.52,162326.52,0.00,0.00,0.00,1
6351189,162326.52,162326.52,0.00,0.00,162326.52,1
6351190,2763398.31,2763398.31,0.00,0.00,0.00,1
6351191,2763398.31,2763398.31,0.00,339515.35,3102913.66,1
6351192,578.21,10575.00,9996.79,127072.23,127650.44,0

Creating the labels set from the 'isFraud' column, and then create the features (x) dataframe from the remaining columns.

In [9]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = gamma_df['isFraud']

# Separate the X variable, the features
X = gamma_df.drop(columns = 'isFraud')

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [10]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    random_state = 1
)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                480

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 2,941
Trainable params: 2,941
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
148857/148857 [==============================] - 301s 2ms/step - loss: 0.0045 - accuracy: 0.9993
Epoch 2/10
148857/148857 [==============================] - 303s 2ms/step - loss: 0.0037 - accuracy: 0.9994
Epoch 3/10
148857/148857 [==============================] - 294s 2ms/step - loss: 0.0035 - accuracy: 0.9994
Epoch 4/10
148857/148857 [==============================] - 296s 2ms/step - loss: 0.0033 - accuracy: 0.9994
Epoch 5/10
148857/148857 [==============================] - 293s 2ms/step - loss: 0.0034 - accuracy: 0.9994
Epoch 6/10
148857/148857 [==============================] - 303s 2ms/step - loss: 0.0034 - accuracy: 0.9994
Epoch 7/10
148857/148857 [==============================] - 289s 2ms/step - loss: 0.0032 - accuracy: 0.9994
Epoch 8/10
148857/148857 [==============================] - 298s 2ms/step - loss: 0.0031 - accuracy: 0.9994
Epoch 9/10
148857/148857 [==============================] - 301s 2ms/step - loss: 0.0031 - accuracy: 0.9994
Epoch 10/10
148857/148857 [==============================] - 300s 2ms/step - loss: 0.0031 - accuracy: 0.9994

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

49619/49619 - 57s - loss: 0.0029 - accuracy: 0.9994 - 57s/epoch - 1ms/step
Loss: 0.0029326339717954397, Accuracy: 0.9994488954544067

---